<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite ram sham">
            <listeners>
                <listener class-name="com.qa.ExtendReportListener.ExtentReporterNG"/>
            </listeners>
    <test verbose="2" preserve-order="true" name="D:/HypbridFrameWork/src/test/java/com/qa/test/loginPageTest.java">
        <classes>
            <!--<class name="com.qa.test.loginPageTest"/>-->
            <class name="com.qa.test.dashboardPageTest"/>
        </classes>
    </test>
</suite>git